<div class="amp-shape"
     style="width: 100%;height: 100%;opacity: <%=layer.settings.generalSettings.opacity / 100 %>;">
  <div class="inner-item shape" style="width: 100%;height: 100%;">
    <div
            id="shape<%= layer.settings.generalSettings.position ? layer.settings.generalSettings.position : '' %>"
            style="width: 100%;height: 100%;">
      <div
              class="<%= (layer.content.value || layer.content.shape) + currentSlide.position + layer.position %>"
              style="transform: rotate(0deg);background-size: contain;background-position: center;"></div>
    </div>
  </div>
</div>
