<% function getStyles(settings) {
  let styles = ''
  if (settings) {
    if (settings.margin) {
      if (['1', '3', '13', '15', '2', '5', '11', '14'].includes(settings.position)) {
        if (['1', '2', '3', '5'].includes(settings.position)) {
          styles += `top:${settings.margin}px;`;
        } else if (['11', '13', '14', '15'].includes(settings.position)) {
          styles += `top:${-settings.margin}px;`;
        }
      }
      if (['1', '4', '7', '10', '13'].includes(settings.position)) {
        styles += `left:${settings.margin}px;`;
      }
      if (['3', '6', '9', '12', '15'].includes(settings.position)) {
        styles += `right:${settings.margin}px;`;
      }
    }
  }
  return styles
}%>
<div class="amp-shape"
     style="width: 100%;height: 100%;opacity: <%=layer.settings.generalSettings.opacity / 100 %>;">
  <div class="inner-item shape" style="width: 100%;height: 100%;">
    <div
            id="shape<%= layer.settings.generalSettings.position ? layer.settings.generalSettings.position : '' %>"
            style="<%= getStyles(layer.settings.generalSettings)%>; text-align: center; position: relative;width: 100%;height: 100%;">
      <div
              class="<%= layer.content.value + currentSlide.position + layer.position %>"
              style="transform: rotate(0deg);background-size: contain;background-position: center;width: 100%;height: 100%;"></div>
    </div>
  </div>
</div>
