<% function getStyles(settings) {
  let styles = ''
  if (settings) {
    if (settings.opacity) {
      styles += `opacity:${settings.opacity / 100};`
    }
    if (settings.shadow > 0) {
      styles += `text-shadow: 1px 1px ${settings.shadow}px rgba(0,0,0,0.75); `
    }
  }
  return styles
} %>
<div
        class="text-container"
        style="<%= getStyles(layer.settings.generalSettings)%>; position: relative"
        id="text<%= layer.settings.generalSettings.position ? `${layer.settings.generalSettings.position}${page ? page.position : ''}` : '' %>"
>
  <div
          class="single-text"
  ><%- layer.content.value %></div>
</div>
